{% extends "layout.html" %}

{% block content %}
<h1 style="font-size:20px; padding-left:20px">Please select what is the most important part for you</h1>

<form style="padding-left:20px" action="/list" method = "POST">
    {% if device == 'laptop' %}
        <label for="laptoppart">Choose a component:</label>
        <select name="laptoppart">
            <option value="display">Display</option>
            <option value="ram">RAM</option>
            <option value="storage">Storage</option>
            <option value="batteryhours">Batteryhours</option>
        </select> <br><br>
    {% elif device == 'computer'%}
        <label for="computerpart">Choose a component:</label>
        <select name="computerpart">
            <option value="cpu">CPU</option>
            <option value="gpu">GPU</option>
            <option value="ram">RAM</option>
            <option value="storage">Storage</option>
        </select> <br><br>
    {% endif %}
    <p><input type = "submit" value = "submit" /></p>
</form>

{% endblock %}