{% extends "layout.html" %}

{% block content %}
<h1 style="font-size:20px; padding-left:20px">Please select what is the most important part for you</h1>

<form action="/listlaptop" method = "POST">
    <label for="part">Choose a component:</label>
    <select name="part">
        <option value="display">Display</option>
        <option value="ram">RAM</option>
        <option value="storage">Storage</option>
        <option value="batteryhours">Batteryhours</option>
    </select> <br><br>
    <p><input type = "submit" value = "submit" /></p>
</form>

{% endblock %}